@model IEnumerable<MealPlanner.Models.BodyStats>

@{
    ViewBag.Title = "DisplayBodyStats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayBodyStats</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BodyStatId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetCalories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BMI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BodyStatId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetCalories)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BMI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
