@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Demo Meal Plan | Meal Planner</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/meal-planner.js"></script>
    <style>
        .header-image {
            position: relative;
            height: auto;
            width: 100%;
            overflow: hidden;
        }

        img {
            position: relative;
            width: 100%;
            max-height: 200px;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <h1>Demo Meal Plan</h1>

    @{
        var demo = ViewBag.Message;

        <h2>Title: @demo["meals"][0]["title"]</h2>
        <h2>Ready In (Minutes): @demo["meals"][0]["readyInMinutes"]</h2>
        <h2>Serves: @demo["meals"][0]["servings"]</h2>
        <h2>ID: @demo["meals"][0]["id"]</h2>
        <br />
        <h2>Title: @demo["meals"][1]["title"]</h2>
        <h2>Ready In (Minutes): @demo["meals"][1]["readyInMinutes"]</h2>
        <h2>Serves: @demo["meals"][1]["servings"]</h2>
        <h2>ID: @demo["meals"][1]["id"]</h2>
        <br />
        <h2>Title: @demo["meals"][2]["title"]</h2>
        <h2>Ready In (Minutes): @demo["meals"][2]["readyInMinutes"]</h2>
        <h2>Serves: @demo["meals"][2]["servings"]</h2>
        <h2>ID: @demo["meals"][2]["id"]</h2>
    }
</body>
</html>